html {
	font-family: Helvetica, Arial, sans-serif;
	background: #f9f9f9;
}

body {
	margin: 0;
	padding: 0;
}

header {
	background: #ff3019; /* old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* ie */
	
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* opera */
	padding: 10px;
}

header * {
	font-size: 1em;
	margin: 0px;
}

header #info_box {
	width: 250px;
	height: 28px;
	font-size: 10pt;
	position: absolute;
	top: 0;
	right: 40px;
	padding: 10px;
	color: white;
	background-color: rgba(0,0,0,1);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

header #info_box p {
	text-align: center;
	margin-bottom: 5px;
}

header #info_box a {
	float: right;
	color: gray;
	text-decoration: none;
	margin-left: 10px;
}

#content {
	background-color: #d9d9d9;
	margin: 40px 220px 20px 40px;
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid #a9a9a9;
}

#content ul {
	list-style-type: none;
	padding: 0;
}

#content li a {
	font-size: 1.5em;
	text-decoration: none;
}

#content li p {
	margin: 5 0;
}

header h1 {
	color: #202020;
	margin: 0 30px;
	font-size: 1.5em;
}

footer {
	margin: 0 40px;
	padding: 10px;
	background: #45484d; /* old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* ie */

background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* opera */
	border-radius: 10px;
}

footer * {
	font-size: 8pt;
	color: rgba(244,244,244,1);
	margin: 0;
	line-height: 1.5em;
}

#recent {
	clear: both;
	float: right;
	font-size: 10pt;
	background-color: #a9a9a9;
	padding: 5px;
	width: 200px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}

#recent h1 {
	font-size: 1.25em;
}

#recent ul {
	list-style-type: none;
	padding: 0;
}

#recent li a {
	font-size: 1em;
	text-decoration: none;
}

#recent li p {
	margin: 5 0;
}